#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }
#background {
    height: 725px;
}

body {
  background-color: #a8dadc; 
}
header {
  background-color:rgba(28, 40, 20, 0.7);
}
nav a:hover {
  background-color: black;
}

nav a:hover {
  background-color: black;
  color: #457b9d;
}  

.icon {
  width: 80px;
}
nav a {
  text-align: center;
  color: #1d3557;
  text-decoration: none;
}    
footer p {
  font-size: 1.4em;
   margin: 0 auto;
   text-align: left;
}    
footer p a:hover {
  text-decoration: underline;
}
footer a {
  font-size: 1.4em;
  margin: 0 auto;
  text-align: left;
}